body
{
  color: white;
  background: black;
}

.heading{

  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
  color: #c0d3ff;
}
span
{
  font-size: 40px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  border: solid #c0d3ff;
  
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

button{
  background-color: #c0d3ff;
  color: azure;
  font-family: 'Abril Fatface', cursive;
}

